<table class=table>
  <thead>
    <tr>
      <th>日時</th>
      <th>室温</th>
      <th>外気温</th>
      <th>温度差</th>
    </tr>
  </thead>

  <tbody>
    <% @temperatures.each do |temperature| %>
      <tr>
        <td><%= temperature.updated_at %></td>
        <td><%= temperature.room_temp %></td>
        <td><%= temperature.outdoor_temp %></td>
        <td><%= temperature.different %></td>
      </tr>
    <% end %>
  </tbody>
</table>
