<table class=table>
  <thead>
    <tr>
      <th>日時</th>
      <th>気温</th>
    </tr>
  </thead>

  <tbody>
    <% @temperatures.each do |temperature| %>
      <tr>
        <td><%= temperature.updated_at %></td>
        <td><%= temperature.temp %></td>
      </tr>
    <% end %>
  </tbody>
</table>
